<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MobileHISEntities" connectionString="Data Source=.;Initial Catalog=MobileHis_Tai;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Sys_mHisEntities" connectionString="metadata=res://*/Models.sysMhis.csdl|res://*/Models.sysMhis.ssdl|res://*/Models.sysMhis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.208;initial catalog=Sys_mHis;user id=sa;password=7417;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pacs_serverEntities" connectionString="metadata=res://*/Models.TriumPacsModel.csdl|res://*/Models.TriumPacsModel.ssdl|res://*/Models.TriumPacsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.213;user id=root;database=pacs_server&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>-->
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
